{% extends "base.html" %}


{% block main %}
    <div class="container">
           <header class="mb20 docify-title">
          <div class="is-text"> <span>分类于:</span> <span class="f12"> <span class="docify-badge">互联网</span> <span class="docify-badge">云计算&amp;大数据</span> <span class="docify-badge">人工智能</span> <span class="docify-badge">计算机基础</span> <span
                class="docify-badge">编程语言</span> </span> </div>
        </header>
                <section class="mb20 h100 mt20 docify-detail">
          <div class="p14 docify-card is-introduction">
            <h3 class="pb10"> <i class="iconfont icon-category"></i> <span>简介</span> </h3>
            <section class="row">
              <figure class="mr20 rel webkit-sassui-frame-wrapper webkit-sassui-scaleable-image" style="width: 280px; height: 397.6px; border:1px solid #f5f5f5;"> <img alt="Python程序设计（第3版）" title="Python程序设计（第3版）" class="is-scaleable"
                  src = "{{ book.cover_picture.url }}">
              </figure>
              <div class="f14 c-6 mb6_ mb__ column">
                <h2 class="row row-justify-between row-center f18"> <span class="lc-1"> {{ book.name }}</span> <span class="f16 docify-douban-rate"> <em>豆</em> <span>7.4分</span> </span> </h2>
                <p class="docify-tip">资源最后更新于 <strong class="b">2020-12-18 08:19:38</strong> </p>
                <p>作者：<span class="c-blue">[美] John Zelle</span></p>
                <p>译者：<span class="c-blue">王海鹏</span></p>
                <p>出版社：<span class="c-blue">人民邮电出版社</span></p>
                <p>出版日期：<span class="c-blue">2018-01</span></p>
                <p>ISBN：<span class="c-blue">9787115283252</span></p>
                <p>文件格式： <span class="f12 c-blue"> <i class="iconfont icon-pdf"></i> pdf </span> </p>
                <p>标签： <a ref="tag" href="https://52doc.com/tag/109" title="Python" class="docify-tag">Python</a> <a ref="tag" href="https://52doc.com/tag/20" title="编程语言" class="docify-tag">编程语言</a> <a ref="tag" href="https://52doc.com/tag/1"
                    title="计算机" class="docify-tag">计算机</a> <a ref="tag" href="https://52doc.com/tag/47" title="编程" class="docify-tag">编程</a> <a ref="tag" href="https://52doc.com/tag/170" title="入门" class="docify-tag">入门</a> <a ref="tag"
                    href="https://52doc.com/tag/652" title="python" class="docify-tag">python</a> <a ref="tag" href="https://52doc.com/tag/2307" title="Python,编程语言" class="docify-tag">Python,编程语言</a> <a ref="tag" href="https://52doc.com/tag/2308"
                    title="计算机与信息" class="docify-tag">计算机与信息</a> </p>
                <meta itemprop="keywords" content="Python,编程语言,计算机,编程,入门,python,Python,编程语言,计算机与信息">
                <blockquote class="mt20 f13 docify-blockquote">
                  <h3 class="f14 b mb10 c-blue">简介· · · · · ·</h3>
                  <div class="tj lh-22 lc-5 c-6 is-body">
                    <p>本书是面向大学计算机科学专业第一门程的教材。本书以Python语言为工具，采用相当传统的方法，强调解决问题、设计和编程是计算机科学的核心技能。</p>
                    <p>全
                      书共13章，包含两个附录。第1章到第5章介绍计算机与程序、编写简单程序、数字计算、对象和图形、字符串处理等基础知识。第6章到第8章介绍函数、判断
                      结构、循环结构和布尔值等话题。第9章到第13章着重介绍一些较为高级的程序设计方法，包括模拟与设计、类、数据集合、面向对象设计、算法设计与递归等。
                      附录部分给出了Python快速参考和术语表。每一章的末尾配有丰富的练习，包括复习问题、讨论和编程联系等多种形式，帮助读者巩固该章的知识和技能。</p>
                    <p>本书特色鲜明、示例生动有趣、内容易读易学，是美国颇受欢迎的教程，适合Python入门程序员阅读，也适合高校计算机专业的教师和学生参考。</p>
                  </div>
                </blockquote>
                <div class="mb10 google-ad" style="height: 90px; overflow: hidden">


                  </script>
                </div>
                <div class="row row-center row-justify-between is-actions"> <a href="https://pan.baidu.com/s/1b9y2qpYk-VamCMWCDGVQPg" data-action="to-download" class="column mr14 btn-primary"> <i class="iconfont icon-skip"></i> 直接下载 </a>
                  <aside class="docify-collect" data-collected="false"> <a class="is-uncollect btn-primary" rel="nofollow" data-method="post" href="https://52doc.com/detail/2946/uncollect"> <i class="iconfont icon-favorites"></i> 已收 </a> <a
                      class="is-collect btn-primary" rel="nofollow" data-method="post" href="https://52doc.com/detail/2946/collect"> <i class="iconfont icon-favorites"></i> 想要 </a> </aside>
                </div>
                <footer class="docify-tip py10 wp-10 is-info">
                  <p><strong>想要:</strong> 点击会收藏到你的 <a class="tdu c-primary" href="https://52doc.com/users/collected">我的收藏</a>，可以在这里查看</p>
                  <p><strong>已收:</strong> 表示已经收藏</p>
                  <p><strong>Tips:</strong> <a class="tdu c-primary" href="https://52doc.com/users/sign_up">注册一个用户</a> 可以通过用户中心得到电子书更新的通知哦</p>
                </footer>
              </div>
            </section>
              </div>
{% endblock %}
<!--        <div class="my-3 p-3 bg-white rounded box-shadow">-->
<!--            <div class="row">-->
<!--                <div class="col-md-2">-->
<!--                    <div class="card bg-dark text-white d-none d-md-block">-->
<!--                      <img class="card-img" src="{{ book.cover_picture.url }}" alt="Card image">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-10">-->
<!--                    <div class="d-flex flex-column">-->
<!--                      <div class="p-1"> <span class="text-danger">书名:</span> <span class="ml-2 text-success">{{ book.name }}</span> </div>-->
<!--                      <div class="p-1 d-none d-md-block">-->
<!--                          <span class="text-danger">简介:</span> <span class="ml-2 text-success">{{ book.desc }}</span>-->
<!--                      </div>-->
<!--                      &lt;!&ndash;小屏幕显示模块&ndash;&gt;-->
<!--                      <div class="p-1 d-block d-sm-none">-->
<!--                          <a class="text-danger" href="#description" data-toggle="collapse" aria-expanded="false" aria-controls="description">点击显示简介</a>-->
<!--                      </div>-->
<!--                      <div class="p-1 collapse" id="description">-->
<!--                          <div class="card card-body">-->
<!--                              {{ book.desc }}-->
<!--                          </div>-->
<!--                      </div>-->
<!--                        <div class="p-1"> <span class="text-danger">上传者:</span> <a href="{{ book.upload_user.get_absolute_url }}"><span class="ml-2 text-success">{{ book.upload_user }}</span></a> </div>-->

<!--                        &lt;!&ndash;小屏幕显示模块结束&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="nav-scroller bg-white box-shadow" id="recent">-->
<!--            <nav class="nav nav-underline container" >-->
<!--                <a class="nav-link" href="#comment-form-0" data-toggle="collapse" aria-expanded="false" aria-controls="comment-form">-->
<!--                   <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 写书评</a>-->
<!--               <a class="nav-link {% ifequal 'recent' data %}active text-success{% endifequal %}" href="?data=recent">-->
<!--                   <i class="fa fa-comment-o" aria-hidden="true"></i> 最新书评</a>-->
<!--               <a class="nav-link {% ifequal 'hot' data %}active text-success{% endifequal %}" href="?data=hot">-->
<!--                   <i class="fa fa-comments-o" aria-hidden="true"></i> 热门书评</a>-->

<!--               <a class="nav-link" href="{% url 'books:preview_pdf' book.id %}"><i class="fa fa-eye" aria-hidden="true"></i> 预览</a>-->
<!--                {% if request.user.is_authenticated %}-->
<!--                     <a class="nav-link" href="{{ book.pdf.url }}" target="_blank" download="" data-id="274" title="">-->
<!--                         <i class="fa fa-download" aria-hidden="true"></i> 下载</a>-->
<!--                {% else %}-->
<!--                     <a class="nav-link" href="{% url 'users:user_login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> 登录（下载）</a>-->
<!--                {% endif %}-->
<!--            </nav>-->
<!--        </div>-->

<!--        &lt;!&ndash; comment form &ndash;&gt;-->
<!--        <div class="my-3 p-3 bg-white rounded box-shadow collapse clearfix" id="comment-form-0">-->
<!--            <form>-->
<!--                <div class="form-group">-->
<!--                    <textarea class="form-control" id="message-text-0" data-login="{% if not request.user.is_authenticated %}un{% endif %}login" placeholder="写下你的评论..."></textarea>-->
<!--                </div>-->
<!--                <button type="button" class="btn btn-sm btn-outline-success float-right " onclick="submitComment({{ book.id }}, 0)">发 送</button>-->
<!--                <button type="button" class="btn btn-sm btn-outline-secondary float-right mr-3" href="#comment-form-0" data-toggle="collapse" aria-expanded="false" aria-controls="comment-form">取消</button>-->
<!--            </form>-->
<!--        </div>-->

<!--        &lt;!&ndash; book recent comments data&ndash;&gt;-->
<!--         <div class="my-3 p-3 bg-white rounded box-shadow">-->
<!--             <h6 class="border-bottom border-gray pb-2 mb-0" id="comment-info">-->
<!--                {{ info }}书评(<span id="comment-count">{{ comment_count }}</span>)-->
<!--             </h6>-->

<!--             <div id="comment-list">-->
<!--                {% for comment in comments %}-->
<!--                    {% include 'comment-item.html' %}-->
<!--                {% endfor %}-->
<!--            </div>-->

<!--            &lt;!&ndash; fake comment &ndash;&gt;-->
<!--            <div class="media text-muted pt-3">-->
<!--              <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">-->
<!--              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">-->
<!--                <strong class="d-block text-gray-dark">@username</strong>-->
<!--                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
<!--              </p>-->
<!--            </div>-->
<!--            <div class="media text-muted pt-3">-->
<!--              <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">-->
<!--              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">-->
<!--                <strong class="d-block text-gray-dark">@username</strong>-->
<!--                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
<!--              </p>-->
<!--            </div>-->
<!--            <div class="media text-muted pt-3">-->
<!--              <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">-->
<!--              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">-->
<!--                <strong class="d-block text-gray-dark">@username</strong>-->
<!--                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
<!--              </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->