{% extends "base.html" %}


{% block main %}
    <div class="container">
           <header class="mb20 docify-title">
          <div class="is-text"> <span>分类于:</span> <span class="f12"> <span class="docify-badge">互联网</span> <span class="docify-badge">云计算&amp;大数据</span> <span class="docify-badge">人工智能</span> <span class="docify-badge">计算机基础</span> <span
                class="docify-badge">编程语言</span> </span> </div>
        </header>
                <section class="mb20 h100 mt20 docify-detail">
          <div class="p14 docify-card is-introduction">
            <h3 class="pb10"> <i class="iconfont icon-category"></i> <span>简介</span> </h3>
            <section class="row">
              <figure class="mr20 rel webkit-sassui-frame-wrapper webkit-sassui-scaleable-image" style="width: 280px; height: 397.6px; border:1px solid #f5f5f5;"> <img class="is-scaleable"
                  src = "{{ book.cover_picture}}">
              </figure>
              <div class="f14 c-6 mb6_ mb__ column">
                <h2 class="row row-justify-between row-center f18"> <span class="lc-1"> {{ book.name }}</span> <span class="f16 docify-douban-rate">   </span> </h2>
                <p class="docify-tip">资源最后更新于 <strong class="b"> {{ book.update_time }} </strong> </p>
                <p>作者：<span class="c-blue">[美] John Zelle</span></p>
                <p>译者：<span class="c-blue">王海鹏</span></p>
                <p>出版社：<span class="c-blue">人民邮电出版社</span></p>
                <p>出版日期：<span class="c-blue"> {{ book.publishing_time }}</span></p>
                <p>ISBN：<span class="c-blue">9787115283252</span></p>
                <p>文件格式： <span class="f12 c-blue"> <i class="iconfont icon-pdf"></i> pdf </span> </p>
                <p>标签： {{ book.desc }} </p>

                <blockquote class="mt20 f13 docify-blockquote">


                </blockquote>
                <div class="mb10 google-ad" style="height: 90px; overflow: hidden">


                  </script>
                </div>
                <div class="row row-center row-justify-between is-actions"> <a href="https://pan.baidu.com/s/1b9y2qpYk-VamCMWCDGVQPg" data-action="to-download" class="column mr14 btn-primary"> <i class="iconfont icon-skip"></i> 直接下载 </a>

                </div>

              </div>
            </section>
              </div>
{% endblock %}