<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>我爱电子书-《Reinforcement Learning: An Introduction (second edition)》| pdf + epub + mobi + awz3, 高清版, 带目录，Kindle版, 多看精排版下载</title>
  <meta name="renderer" content="webkit">
  <meta name="force-rendering" content="webkit">
  <meta name="google" value="notranslate">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <meta name="description" itemprop="description" content="电子书Reinforcement Learning: An Introduction (second edition),高清pdf/epub/mobi/azw3下载,A Bradford Book,Richard S. Sutton,设计,计算机基础">
  <meta name="keywords" itemprop="keywords" content="Reinforcement Learning: An Introduction (second edition),强化学习,机器学习,人工智能,RL,计算机科学,MachineLearning,数学,计算机">
  <meta property="og:url" content="https://www.52doc.com">
  <meta property="og:type" content="article">
  <meta property="og:title" content="我爱电子书-《Reinforcement Learning: An Introduction (second edition)》| pdf + epub + mobi + awz3, 高清版, 带目录，Kindle版, 多看精排版下载">
  <meta property="og:description" content="电子书Reinforcement Learning: An Introduction (second edition),高清pdf/epub/mobi/azw3下载,A Bradford Book,Richard S. Sutton,设计,计算机基础">
  <meta property="og:image" content="https://tva1.sinaimg.cn/large/da432263gy1gj4u6rediij207i0abjrk.jpg">
  <meta property="og:site_name" content="我爱电子书">
  <meta name="referrer" content="never">
  <meta name="msvalidate.01" content="3D5094FFF21A94A7AC18B308AA4EE9E4">
  <meta name="sogou_site_verification" content="vT9vHz49Ou">
  <meta name="shenma-site-verification" content="7d252b38f04a4290c3b7882c6579205d_1591574724">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="dns-prefetch" href="https://www.52doc.com/">
  <link rel="dns-prefetch" href="https://cdn.bootcss.com/">
  <link rel="dns-prefetch" href="https://at.alicdn.com/">
  <link rel="dns-prefetch" href="https://tva1.sinaimg.cn/">
  <link rel="dns-prefetch" href="https://shang.qq.com/">
  <link rel="dns-prefetch" href="https://pub.idqqimg.com/">
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="RIrCRVGeUchXCOtrylj+04qmiDdj65m7ay8z2Z8McYDQDfM0zd/pob7AOe0DXZ8sJax4JQq+//rcslcFc5F5qw==">
  <link rel="shortcut icon" type="image/x-icon" href="https://52doc.com/assets/favicon-5051d0edf8c53d04eaebd0c041b0ad816d4c3123178925a8817926e3ca1551a8.ico">
  <link rel="stylesheet"
    href="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/font_1651843_e9roah99k5w.css">
  <script
    src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/reactive_library_fy2019.js">
  </script>
  <script
    src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/osd.js">
  </script>
  <script
    src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/cookie.js">
  </script>
  <script
    src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/show_ads_impl_fy2019.js"
    id="google_shimpl"></script>
  <script crossorigin="anonymous"
    src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/jquery_002.js">
  </script>
  <script crossorigin="anonymous"
    src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/fastclick.js">
  </script>
  <script crossorigin="anonymous"
    src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/jquery.js">
  </script>
  <link rel="stylesheet" media="all"
    href="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/application-2dd1f7843fefb70c7f4382c1d86e3de7e4821568d9766361.css"
    data-turbolinks-track="reload">
  <script
    src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/application-5558b963a57face76cda.js"
    data-turbolinks-track="reload"></script>
  <script
    src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/z_stat.php">
  </script>
  <script
    src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/core.php"
    charset="utf-8" type="text/javascript"></script>
  <meta http-equiv="origin-trial"
    content="A2shzsdPO+RKe83bUqT9oVkYwGZN6j9O7nrcOASNFPuQz8HefgVYb9qAqn6coNCSDIRtXoi6ybCrjEsYh3caFgIAAAB7eyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiVHJ1c3RUb2tlbnMiLCJleHBpcnkiOjE2MTM0OTU4NjgsImlzU3ViZG9tYWluIjp0cnVlLCJpc1RoaXJkUGFydHkiOnRydWV9">
  <meta http-equiv="origin-trial"
    content="A2shzsdPO+RKe83bUqT9oVkYwGZN6j9O7nrcOASNFPuQz8HefgVYb9qAqn6coNCSDIRtXoi6ybCrjEsYh3caFgIAAAB7eyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiVHJ1c3RUb2tlbnMiLCJleHBpcnkiOjE2MTM0OTU4NjgsImlzU3ViZG9tYWluIjp0cnVlLCJpc1RoaXJkUGFydHkiOnRydWV9">
  <link rel="preload"
    href="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/integrator.js"
    as="script">
  <script type="text/javascript"
    src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/integrator.js">
  </script>
</head>

<body aria-hidden="false"><a href="https://www.cnzz.com/stat/website.php?web_id=1278659305" target="_blank" title="站长统计">站长统计</a>
  <main class="row docify-app">
    <aside class="is-sidebar">
      <nav class="docify-sidenav">
        <header class="mb30 tc is-logo">
          <div class="blank-30"></div>
          <p class="f12"> <a href="https://52doc.com/"><img alt="52doc.com的logo"
                src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/logo_rect-7ffc18b6b5b24782b3d81037af31b2b31e4e2b9ff63bd171ef.png"
                width="60"></a> </p>
          <h1 class="mt20 mb10 f20">我爱电子书</h1>
          <p class="f12 c-9">52DOC.COM</p>
        </header>
        <div class="is-body"> <a class="px10 " href="https://52doc.com/"> <i class="f16 iconfont icon-warehouse-delivery"></i> 首页 </a> <a class="px10 " href="https://52doc.com/users/sign_in"> <i class="f16 iconfont icon-gerenzhongxin"></i> 登录/注册 </a>
          <a href="https://52doc.com/category/2" class="px10 "> <i class="f16 iconfont icon-category"></i> 编程语言 </a> <a href="https://52doc.com/category/3" class="px10 is-active"> <i class="f16 iconfont icon-category"></i> 计算机基础 </a> <a
            href="https://52doc.com/category/4" class="px10 "> <i class="f16 iconfont icon-category"></i> 互联网 </a> <a href="https://52doc.com/category/5" class="px10 "> <i class="f16 iconfont icon-category"></i> 云计算&amp;大数据 </a> <a
            href="https://52doc.com/category/6" class="px10 "> <i class="f16 iconfont icon-category"></i> 人工智能 </a> <a href="https://52doc.com/category/7" class="px10 "> <i class="f16 iconfont icon-category"></i> 设计 </a> <a
            href="https://52doc.com/category/8" class="px10 "> <i class="f16 iconfont icon-category"></i> 职场办公 </a> </div>
      </nav>
    </aside>
    <div class="fixed menu docify-sidenav"> <a class="px10 " href="https://52doc.com/"> <i class="f16 iconfont icon-warehouse-delivery"></i> 首页 </a> <a class="px10 " href="https://52doc.com/users/sign_in"> <i
          class="f16 iconfont icon-gerenzhongxin"></i> 登录/注册 </a> <a href="https://52doc.com/category/2" class="px10 "> <i class="f16 iconfont icon-category"></i> 编程语言 </a> <a href="https://52doc.com/category/3" class="px10 is-active"> <i
          class="f16 iconfont icon-category"></i> 计算机基础 </a> <a href="https://52doc.com/category/4" class="px10 "> <i class="f16 iconfont icon-category"></i> 互联网 </a> <a href="https://52doc.com/category/5" class="px10 "> <i
          class="f16 iconfont icon-category"></i> 云计算&amp;大数据 </a> <a href="https://52doc.com/category/6" class="px10 "> <i class="f16 iconfont icon-category"></i> 人工智能 </a> <a href="https://52doc.com/category/7" class="px10 "> <i
          class="f16 iconfont icon-category"></i> 设计 </a> <a href="https://52doc.com/category/8" class="px10 "> <i class="f16 iconfont icon-category"></i> 职场办公 </a> </div>
    <div class="menu__toggler"> <span></span> <i class="iconfont icon-home"></i> </div>
    <div class="menu__overlay"></div>
    <div class="rel column docify-fixed-body is-main" data-hasbar="true" style="height: auto !important;">
      <header class="rel is-header">
        <section class="docify-global-search">
          <h3 style="display: none;">注重体验与质量的电子书资源下载网站</h3>
          <form class="docify-search-box" autocomplete="off" action="/search" accept-charset="UTF-8" method="get"> <input type="text" name="keywords" id="keywords" placeholder="搜索找你想要的的电子书吧~" autofocus="autofocus"> <input type="submit" name="commit"
              value="搜索" data-disable-with="搜索"> </form>
        </section>
        <div class="docify-profile" data-signed="false">
          <div class="is-body"> <a href="https://52doc.com/users/sign_in"><img alt="logo"
                src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/logo_rect-7ffc18b6b5b24782b3d81037af31b2b31e4e2b9ff63bd171ef.png"
                width="100%"></a> </div> <span class="is-dot"></span>
        </div>
        <div class="docify-index-qq"> <a href="https://52doc.com/users/auth/qq_connect"><img alt="QQ一键登录"
              src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/Connect_logo_5.webp"
              width="160"></a> </div>
      </header>
      <section class="rel docify-content">
        <div class="mb10 is-banner">
          <script async=""
            src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/adsbygoogle.js">
          </script> <ins class="adsbygoogle" style="display: block; height: 280px;" data-ad-client="ca-pub-2416128984779603" data-ad-slot="5543684803" data-ad-format="auto" data-full-width-responsive="true" data-adsbygoogle-status="done"><ins
              id="aswift_0_expand" style="display:inline-table;border:none;height:280px;margin:0;padding:0;position:relative;visibility:visible;width:806px;background-color:transparent;" tabindex="0" title="Advertisement"
              aria-label="Advertisement"><ins id="aswift_0_anchor"
                style="display: block; border: medium none; height: 280px; margin: 0px; padding: 0px; position: relative; visibility: visible; width: 806px; background-color: transparent; overflow: visible;"><iframe id="aswift_0" name="aswift_0"
                  style="left:0;position:absolute;top:0;border:0;width:806px;height:280px;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
                  src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/ads.html"
                  marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" data-google-container-id="a!1" data-google-query-id="CILovauop-4CFYUFlgodBDULyA" data-load-complete="true"
                  width="806" height="280" frameborder="0"></iframe></ins></ins></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({})
          </script>
        </div>
        <header class="mb20 docify-title">
          <div class="is-text"> <span>分类于:</span> <span class="f12"> <span class="docify-badge">设计</span> <span class="docify-badge">计算机基础</span> </span> </div>
        </header>
        <section class="mb20 h100 mt20 docify-detail">
          <div class="p14 docify-card is-introduction">
            <h3 class="pb10"> <i class="iconfont icon-category"></i> <span>简介</span> </h3>
            <section class="row">
              <figure class="mr20 rel webkit-sassui-frame-wrapper webkit-sassui-scaleable-image" style="width: 280px; height: 397.6px; border:1px solid #f5f5f5;"> <img alt="Reinforcement Learning: An Introduction (second edition)"
                  title="Reinforcement Learning: An Introduction (second edition)" class="is-scaleable"
                  src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/da432263gy1gj4u6rediij207i0abjrk.jpg">
              </figure>
              <div class="f14 c-6 mb6_ mb__ column">
                <h2 class="row row-justify-between row-center f18"> <span class="lc-1">Reinforcement Learning: An Introduction (second edition)</span> <span class="f16 docify-douban-rate"> <em>豆</em> <span>9.8分</span> </span> </h2>
                <p class="docify-tip">资源最后更新于 <strong class="b">2020-12-18 16:09:38</strong> </p>
                <p>作者：<span class="c-blue">Richard S. Sutton</span></p>
                <p>出版社：<span class="c-blue">A Bradford Book</span></p>
                <p>出版日期：<span class="c-blue">2018-01</span></p>
                <p>ISBN：<span class="c-blue">9780262039246</span></p>
                <p>文件格式： <span class="f12 c-blue"> <i class="iconfont icon-pdf"></i> pdf </span> </p>
                <p>标签： <a ref="tag" href="https://52doc.com/tag/2367" title="强化学习" class="docify-tag">强化学习</a> <a ref="tag" href="https://52doc.com/tag/50" title="机器学习" class="docify-tag">机器学习</a> <a ref="tag" href="https://52doc.com/tag/49"
                    title="人工智能" class="docify-tag">人工智能</a> <a ref="tag" href="https://52doc.com/tag/7121" title="RL" class="docify-tag">RL</a> <a ref="tag" href="https://52doc.com/tag/343" title="计算机科学" class="docify-tag">计算机科学</a> <a ref="tag"
                    href="https://52doc.com/tag/2311" title="MachineLearning" class="docify-tag">MachineLearning</a> <a ref="tag" href="https://52doc.com/tag/641" title="数学" class="docify-tag">数学</a> <a ref="tag" href="https://52doc.com/tag/1"
                    title="计算机" class="docify-tag">计算机</a> </p>
                <meta itemprop="keywords" content="强化学习,机器学习,人工智能,RL,计算机科学,MachineLearning,数学,计算机">
                <blockquote class="mt20 f13 docify-blockquote">
                  <h3 class="f14 b mb10 c-blue">简介· · · · · ·</h3>
                  <div class="tj lh-22 lc-5 c-6 is-body">
                    <p>The
                      significantly expanded and updated new edition of a widely used text on
                      reinforcement learning, one of the most active research areas in
                      artificial intelligence.</p>
                    <p>Reinforcement learning, one of the most
                      active research areas in artificial intelligence, is a computational
                      approach to learning whereby an agent tries to maximize the total amount
                      of reward it receives while inte...</p>
                  </div>
                </blockquote>
                <div class="mb10 google-ad" style="height: 90px; overflow: hidden">
                  <script async=""
                    src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/adsbygoogle.js">
                  </script> <ins class="adsbygoogle" style="display: inline-block; width: 478.25px; height: 90px;" data-ad-client="ca-pub-2416128984779603" data-ad-slot="9021795194" data-adsbygoogle-status="done"><ins id="aswift_1_expand"
                      style="display:inline-table;border:none;height:90px;margin:0;padding:0;position:relative;visibility:visible;width:478px;background-color:transparent;" tabindex="0" title="Advertisement" aria-label="Advertisement"><ins
                        id="aswift_1_anchor" style="display:block;border:none;height:90px;margin:0;padding:0;position:relative;visibility:visible;width:478px;background-color:transparent;"><iframe id="aswift_1" name="aswift_1"
                          style="left:0;position:absolute;top:0;border:0;width:478px;height:90px;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
                          src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/ads.html"
                          marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" data-google-container-id="a!2" data-google-query-id="CK-fyauop-4CFQNB9ggdPKYMiA" data-load-complete="true"
                          width="478" height="90" frameborder="0"></iframe></ins></ins></ins>
                  <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>
                <div class="row row-center row-justify-between is-actions"> <a href="https://52doc.com/download/48452" data-action="to-download" class="column mr14 btn-primary"> <i class="iconfont icon-skip"></i> 直接下载 </a>
                  <aside class="docify-collect" data-collected="false"> <a class="is-uncollect btn-primary" rel="nofollow" data-method="post" href="https://52doc.com/detail/48452/uncollect"> <i class="iconfont icon-favorites"></i> 已收 </a> <a
                      class="is-collect btn-primary" rel="nofollow" data-method="post" href="https://52doc.com/detail/48452/collect"> <i class="iconfont icon-favorites"></i> 想要 </a> </aside>
                </div>
                <footer class="docify-tip py10 wp-10 is-info">
                  <p><strong>想要:</strong> 点击会收藏到你的 <a class="tdu c-primary" href="https://52doc.com/users/collected">我的收藏</a>，可以在这里查看</p>
                  <p><strong>已收:</strong> 表示已经收藏</p>
                  <p><strong>Tips:</strong> <a class="tdu c-primary" href="https://52doc.com/users/sign_up">注册一个用户</a> 可以通过用户中心得到电子书更新的通知哦</p>
                </footer>
              </div>
            </section>
          </div>
          <div class="blank-20"></div>
          <div class="c-6 p14 docify-card">
            <h3 class="pb10"> <i class="iconfont icon-creditlevel"></i> <span>目录</span> </h3>
            <section class="lh-22 f14 docify-catalogue">
              <div data-from="book-douban" class="collapse-content"> </div>
              <div class="tc is-action"> <button class="cp bgn bg-success pt10 pb20 bdn c-blue">展开查看全部&gt;&gt;</button> </div>
            </section>
          </div>
          <div class="blank-20"></div>
          <div class="p14 docify-card">
            <h3 class="pb10"> <i class="iconfont icon-logistic"></i> <span>猜你喜欢</span> </h3>
            <div class="related">
              <div class="f30 docify-justify-list is-responsive">
                <div class="post-item is-item ovh docify-card"> <a href="https://52doc.com/detail/1">
                    <figure class="webkit-sassui-scaleable-image docify-ratio-image"> <img data-src="https://tva1.sinaimg.cn/large/da432263gy1gcp7ejfu4aj2064094q3p.jpg" title="Excel 2013 应用技巧实例大全" class="is-scaleable is-ratio"
                        src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/da432263gy1gcp7ejfu4aj2064094q3p.jpg">
                      <figcaption class="is-caption"> <strong>出版日期:</strong> <span>2013-05</span> </figcaption>
                    </figure>
                  </a>
                  <div class="px10 text-justify lh-20 mb10_ mb__ is-body">
                    <h3 class="b lc-2 my10 ovh" style="height: 40px"> <a href="https://52doc.com/detail/1"> <i class="n iconfont icon-store"></i> Excel 2013 应用技巧实例大全 </a> </h3>
                    <div class="row row-justify-between row-center c-6 pb10">
                      <div class="is-left"> <span class="f12"> <i class="f12 iconfont icon-assessedbadge"></i> <span>评分:</span> </span> <span class="f14 c-blue">0.0</span> </div>
                    </div>
                  </div>
                </div>
                <div class="post-item is-item ovh docify-card"> <a href="https://52doc.com/detail/2">
                    <figure class="webkit-sassui-scaleable-image docify-ratio-image"> <img data-src="https://tva1.sinaimg.cn/large/da432263gy1gcp7ejr8f8j206409474y.jpg" title="零起步轻松学单片机技术（第2版）: 零起步轻松学单片机技术" class="is-scaleable is-ratio"
                        src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/da432263gy1gcp7ejr8f8j206409474y.jpg">
                      <figcaption class="is-caption"> <strong>出版日期:</strong> <span>2012-08</span> </figcaption>
                    </figure>
                  </a>
                  <div class="px10 text-justify lh-20 mb10_ mb__ is-body">
                    <h3 class="b lc-2 my10 ovh" style="height: 40px"> <a href="https://52doc.com/detail/2"> <i class="n iconfont icon-store"></i> 零起步轻松学单片机技术（第2版）: 零起步轻松学单片机技术 </a> </h3>
                    <div class="row row-justify-between row-center c-6 pb10">
                      <div class="is-left"> <span class="f12"> <i class="f12 iconfont icon-assessedbadge"></i> <span>评分:</span> </span> <span class="f14 c-blue">0.0</span> </div>
                    </div>
                  </div>
                </div>
                <div class="post-item is-item ovh docify-card"> <a href="https://52doc.com/detail/4">
                    <figure class="webkit-sassui-scaleable-image docify-ratio-image"> <img data-src="https://tva1.sinaimg.cn/large/da432263gy1gcp7ii5p4kj206409474k.jpg" title="Apple Watch 编程指南" class="is-scaleable is-ratio"
                        src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/da432263gy1gcp7ii5p4kj206409474k.jpg">
                      <figcaption class="is-caption"> <strong>出版日期:</strong> <span>2015-01</span> </figcaption>
                    </figure>
                  </a>
                  <div class="px10 text-justify lh-20 mb10_ mb__ is-body">
                    <h3 class="b lc-2 my10 ovh" style="height: 40px"> <a href="https://52doc.com/detail/4"> <i class="n iconfont icon-store"></i> Apple Watch 编程指南 </a> </h3>
                    <div class="row row-justify-between row-center c-6 pb10">
                      <div class="is-left"> <span class="f12"> <i class="f12 iconfont icon-assessedbadge"></i> <span>评分:</span> </span> <span class="f14 c-blue">0.0</span> </div>
                    </div>
                  </div>
                </div>
                <div class="post-item is-item ovh docify-card"> <a href="https://52doc.com/detail/6">
                    <figure class="webkit-sassui-scaleable-image docify-ratio-image"> <img data-src="https://tva1.sinaimg.cn/large/da432263gy1gcp7iisz1kj2064096aad.jpg" title="Webpack实战：入门、进阶与调优: Web开发技术丛书" class="is-scaleable is-ratio"
                        src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/da432263gy1gcp7iisz1kj2064096aad.jpg">
                      <figcaption class="is-caption"> <strong>出版日期:</strong> <span>2019-05</span> </figcaption>
                    </figure>
                  </a>
                  <div class="px10 text-justify lh-20 mb10_ mb__ is-body">
                    <h3 class="b lc-2 my10 ovh" style="height: 40px"> <a href="https://52doc.com/detail/6"> <i class="n iconfont icon-store"></i> Webpack实战：入门、进阶与调优: Web开发技术丛书 </a> </h3>
                    <div class="row row-justify-between row-center c-6 pb10">
                      <div class="is-left"> <span class="f12"> <i class="f12 iconfont icon-assessedbadge"></i> <span>评分:</span> </span> <span class="f14 c-blue">0.0</span> </div>
                    </div>
                  </div>
                </div>
                <div class="post-item is-item ovh docify-card"> <a href="https://52doc.com/detail/7">
                    <figure class="webkit-sassui-scaleable-image docify-ratio-image"> <img data-src="https://tva1.sinaimg.cn/large/da432263gy1gcp7im9uugj20640940t0.jpg" title="PHP 7从零基础到项目实战" class="is-scaleable is-ratio"
                        src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/da432263gy1gcp7im9uugj20640940t0.jpg">
                      <figcaption class="is-caption"> <strong>出版日期:</strong> <span>2018-10</span> </figcaption>
                    </figure>
                  </a>
                  <div class="px10 text-justify lh-20 mb10_ mb__ is-body">
                    <h3 class="b lc-2 my10 ovh" style="height: 40px"> <a href="https://52doc.com/detail/7"> <i class="n iconfont icon-store"></i> PHP 7从零基础到项目实战 </a> </h3>
                    <div class="row row-justify-between row-center c-6 pb10">
                      <div class="is-left"> <span class="f12"> <i class="f12 iconfont icon-assessedbadge"></i> <span>评分:</span> </span> <span class="f14 c-blue">0.0</span> </div>
                    </div>
                  </div>
                </div>
                <div class="post-item is-item ovh docify-card"> <a href="https://52doc.com/detail/9">
                    <figure class="webkit-sassui-scaleable-image docify-ratio-image"> <img data-src="https://tva1.sinaimg.cn/large/da432263gy1gcp7inkexpj2064094jrq.jpg" title="Spark核心技术与高级应用" class="is-scaleable is-ratio"
                        src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/da432263gy1gcp7inkexpj2064094jrq.jpg">
                      <figcaption class="is-caption"> <strong>出版日期:</strong> <span>2016-01</span> </figcaption>
                    </figure>
                  </a>
                  <div class="px10 text-justify lh-20 mb10_ mb__ is-body">
                    <h3 class="b lc-2 my10 ovh" style="height: 40px"> <a href="https://52doc.com/detail/9"> <i class="n iconfont icon-store"></i> Spark核心技术与高级应用 </a> </h3>
                    <div class="row row-justify-between row-center c-6 pb10">
                      <div class="is-left"> <span class="f12"> <i class="f12 iconfont icon-assessedbadge"></i> <span>评分:</span> </span> <span class="f14 c-blue">0.0</span> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <footer class="f12 c-9 py10 px20 lh-16 row row-center row-justify-between p-bottom abs docify-footer">
        <div class="lc-1 is-left">
          <p>本站并不以盈利为目的，所有电子文档均来源于网络，旨在发现优质的电子图书，并为大家带来更好的下载体验。</p>
          <p>如本站的内容对您的权利造成了影响，请发邮件至afeiship#qq.com (#换成@),我们会在第一时间将涉及版权的内容进行删除。</p>
        </div>
        <aside class="is-right"> <a target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=6YgkHQoj6x5dPMgA4eEtlZhF354tcqiX&amp;jump_from=webapi"><img
              src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/group.png"
              alt="我爱电子书②群" title="我爱电子书②群" border="0"></a> <a title="我爱电子书-《Reinforcement Learning: An Introduction (second edition)》| pdf + epub + mobi + awz3, 高清版, 带目录，Kindle版, 多看精排版下载" href="https://52doc.com/"><img alt="logo"
              src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/52doc_logo-d41591a85c4f18ba7f1f6317e15b8792a96111308714a451d.png"
              width="120"></a> </aside>
      </footer>
    </div>
  </main> <ins class="adsbygoogle adsbygoogle-noablate" style="display: none !important;" data-adsbygoogle-status="done"><ins id="aswift_2_expand"
      style="display:inline-table;border:none;height:0px;margin:0;padding:0;position:relative;visibility:visible;width:0px;background-color:transparent;" tabindex="0" title="Advertisement" aria-label="Advertisement"><ins id="aswift_2_anchor"
        style="display:block;border:none;height:0px;margin:0;padding:0;position:relative;visibility:visible;width:0px;background-color:transparent;"><iframe id="aswift_2" name="aswift_2"
          style="left:0;position:absolute;top:0;border:0;width:undefinedpx;height:undefinedpx;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
          src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/ads_003.html"
          marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" data-google-container-id="a!2" data-load-complete="true" frameborder="0"></iframe></ins></ins></ins><iframe
    id="google_osd_static_frame_6763873023166" name="google_osd_static_frame" style="display: none; width: 0px; height: 0px;"></iframe>
</body><iframe id="google_esf" name="google_esf"
  src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/zrt_lookup.html"
  style="display: none;" data-ad-client="ca-pub-2416128984779603"></iframe><ins class="adsbygoogle adsbygoogle-noablate"
  style="display: none !important; width: 100vw !important; height: 100vh !important; inset: 0px auto auto 0px !important; clear: none !important; float: none !important; margin: 0px !important; max-height: none !important; max-width: none !important; opacity: 1 !important; overflow: visible !important; padding: 0px !important; position: fixed !important; vertical-align: baseline !important; visibility: visible !important; z-index: 2147483647 !important; background-color: transparent;"
  data-adsbygoogle-status="done" aria-hidden="true" data-vignette-loaded="true"><ins id="aswift_3_expand"
    style="display: inline-table !important; border: medium none !important; height: 100vh !important; margin: 0px !important; padding: 0px !important; position: relative !important; visibility: visible !important; width: 100vw !important; background-color: transparent !important; inset: auto !important; clear: none !important; float: none !important; max-height: none !important; max-width: none !important; opacity: 1 !important; overflow: visible !important; vertical-align: baseline !important; z-index: auto !important;"
    tabindex="0" title="Advertisement" aria-label="Advertisement"><ins id="aswift_3_anchor"
      style="display: block !important; border: medium none !important; height: 100vh !important; margin: 0px !important; padding: 0px !important; position: relative !important; visibility: visible !important; width: 100vw !important; background-color: transparent !important; inset: auto !important; clear: none !important; float: none !important; max-height: none !important; max-width: none !important; opacity: 1 !important; overflow: visible !important; vertical-align: baseline !important; z-index: auto !important;"><iframe
        id="aswift_3" name="" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
        src="%E6%88%91%E7%88%B1%E7%94%B5%E5%AD%90%E4%B9%A6-%E3%80%8AReinforcement%20Learning%20An%20Introduction%20(second%20edition)%E3%80%8B%7C%20pdf%20+%20epub%20+%20mobi%20+%20awz3,%20%E9%AB%98%E6%B8%85%E7%89%88,%20%E5%B8%A6%E7%9B%AE%E5%BD%95%EF%BC%8CKindle%E7%89%88,%20%E5%A4%9A%E7%9C%8B%E7%B2%BE%E6%8E%92%E7%89%88%E4%B8%8B%E8%BD%BD_files/zrt_lookup_002.html"
        marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true"
        style="width: 100vw !important; height: 100vh !important; inset: 0px auto auto 0px !important; position: absolute !important; clear: none !important; display: inline !important; float: none !important; margin: 0px !important; max-height: none !important; max-width: none !important; opacity: 1 !important; overflow: visible !important; padding: 0px !important; vertical-align: baseline !important; visibility: visible !important; z-index: auto !important;"
        data-google-container-id="a!3" data-google-query-id="CJ_dwquop-4CFUGWlgodjEMPtg" data-load-complete="true" width="" height="" frameborder="0"></iframe></ins></ins></ins>

</html>